// Variables===============>

$primary-color: #4175af;
$secondary-color: #c43d29;
$white: #eee;
$black: #222;
$nav-bg: rgba(2,2,2,0.75);

// Global styles===========>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
}

section {
    padding: 60px 10px 20px 10px;
}

h2 {
    font-size: 1.75em;
    margin-top: 30px;
    text-align: center;
}

hr {
    max-width: 90%;
    margin: 30px auto;
}

p {
    line-height: 1.5;
    font-size: 1.2em;
    margin-bottom: 15px;
}

img {
    border-radius: 10px;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.grid-normal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
// Nav Section

.home-header {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background-color: $nav-bg;
    color: $white;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.branding {
    width: 50%;
    img {
        width: 35px;
        margin-right: 5px;
        display: inline-block;
    }
    h1 {
        display: inline-block;
        font-size: 1.5em
    }
}

nav {
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    .nav-links {
        padding: 5px;
        color: $white;
        text-decoration: none;
        font-size: 1.25em;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}

.mobile-btn {
    display: none;
    background-color: transparent;
    position: absolute;
    border: none;
    top: 2px;
    right: 10px;
    cursor: pointer;
    z-index: 3;
}

.hamburger {
    fill: $white;
}

.feature-grid {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .card {
        min-width: 200px;
        max-width: 30%;
        text-align: center;
        a {
            color: $white;
        }
        i {
            font-size: 3em;
            margin-bottom: 10px;
        }
        hr {
            margin: 10px auto;
        }
    }

}

.sub-header {
    width: 100%;
    height: 60vh;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}

.sub-hero {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(transparent 30%, $nav-bg 100%);
    .sub-hero-content {
        color: $white;
        padding: 20px 30px;
        background-color: $nav-bg;
        font-size: 2em;
        border: 2px solid $white;
        border-radius: 10px;
    }
}

// footer

footer {
    padding: 20px 0;
    background-color: $nav-bg;
    color: $white;
    text-align: center;
    p {
        font-size: 1.5em;
    }
    a {
        color: $white;
        transition: 1s;
        &:nth-of-type(1):hover {
            color: #3b5998;
        }
        &:nth-of-type(2):hover {
            color: #00acee;
        }
        &:nth-of-type(3):hover {
            color: #8a3ab9;
        }
        &:nth-of-type(4):hover {
            color: #FEBF00;
        }
    }
    i {
        font-size: 3em;
        margin: 0 5px 10px 5px;
    }
}

// Home page============>

// Hero Section

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../img/ashtree1080.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;
    animation-name: bg-change;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

.hero-content {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(transparent 30%, $nav-bg 100%);
    img {
        margin-bottom: 30px;
        max-width: 55%;
    }
}

.action-btn {
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    background-color: $secondary-color;
    a {
        padding: 20px 30px;
        color: $white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25em;
    }
}

.upcoming-events {
    max-width: 300px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.15em;
    padding: 30px 20px;
    text-align: center;
    background-color: $secondary-color;
    color: $white;
    border-radius: 10px;
}

#home-events {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.event-box {
    width: 260px;
    margin: 0 auto;
}

// feature sections
#feature {
    background-color: $primary-color;
    color: $white;
}

// About Page ============>

.about-bg {
    background: url("../img/vtable.jpg") no-repeat center;
    background-size: cover;
}

#history {
    background-color: $primary-color;
    color: $white;
}

.grid-reverse {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 40px;
}

.about-article {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-self: center;
}

.order-2 {
    order: 2;
}

.order-1 {
    order: 1;
}

#media {
    background-color: $secondary-color;
    color: $white;
    padding-bottom: 50px;
}

.media-card {
    width: 200px;
    height: 260px;
    text-align: center;
    background-color: $white;
    border-radius: 10px;
    .shadetx {
        background: url("../img/shadetx.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .abc13 {
        background: url("../img/abc13.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .cw39 {
        background: url("../img/cw39.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .hank {
        background: url("../img/hankonfoods.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .hopcast {
        background: url("../img/hopcast.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .interbrew {
        background: url("../img/interbrews.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .abc2019 {
        background: url("../img/abc2019.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .abc2022 {
        background: url("../img/abc2022.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
    }
    .hbg {
        background: url("../img/hbg.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .khou {
        background: url("../img/khou11.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    h3 {
        margin: 10px 0;
        color: $black;
    }
}

// Beer Page

.beers-bg {
    background: url("../img/beertaps.jpg") no-repeat center;
    background-size: cover;
}

#beers {
    background-color: $primary-color;
    color: $white;
    text-align: center;
    font-size: 1.25em;
    .qr {
        display: block;
        margin: 0 auto 20px auto;
        width: 200px;
    }
    article {
        display: flex;
        align-items: center;
    }
}

.beer-select {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    p{
        width: 50%;
        min-width: 380px;
        font-size: 1.3em;
        font-weight: bold;
    }
}

#beer-selection {
    width: 30%;
    height: 50px;
    padding: 0 15px;
    border: 2px solid $white;
    border-radius: 10px;
    background-color: $secondary-color;
    color: $white;
    font-size: 1em;
    font-weight: bold;
}

.beer-container {
    padding: 30px 20px;
    width: 100%;
    margin: 30px auto;
    background-color: $secondary-color;
    border: 3px solid $white;
    border-radius: 10px;
    h2 {
        text-align: left;
        padding: 0 10px 20px 10px;
        border-bottom: 3px solid $white;
        margin-top: 0;
    }
}

.beer-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    .beer-card {
        margin-top: 40px;
        width: 200px;
        background-color: $white;
        color: $black;
        border-radius: 10px;
        padding-bottom: 15px;
        transform: translatey(50px);
        opacity: 0;
        animation: 500ms ease-out 250ms forwards fadeIn;
        img {
            border-radius: 10px;
            margin-bottom: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        hr {
            margin: 15px
        }
        p {
            margin: 0;
            font-size: 1em;
        }
        h3 {
            font-size: 1em;
        }
    }
}

.other-drink-content {
    padding: 0px 10px;
    margin-bottom: 30px;
    h3 {
        font-size: 1.5em;
        margin: 10px 0;
    }
    ul {
        padding: 0 30px;
        li {
            font-size: 1.25em;
            margin-bottom: 5px;
        }
            
    }
}

// events page

.event-bg {
    background-image: url(../img/event.jpg);
    background-size: cover;
}

#events {
    background-color: $primary-color;
    color: $white;
}

// contact page

.contact-bg {
    background-image: url(../img/buildbg2.jpg);
}

#contact-info {
    padding: 0 10px;
    font-size: 1.1em;
    h2{
        text-align: left;
    }
    i {
        margin-right: 5px;
    }
}

.mapouter {
    margin: 0 auto;
}

#social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
// animations

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translatey(50px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
    
}

@keyframes bg-change {
    0% {
      background-image: url(../img/ashtree1080.jpg);  
    }
    20% {
        background-image: url(../img/backyard.jpg);
    }
    40% {
        background-image: url(../img/patio.jpg);
    }
    60% {
        background-image: url(../img/showbuilding.jpg);
    }
    80% {
        background-image: url(../img/taproom.jpg);
    }
    100% {
        background-image: url(../img/event.jpg);
    }
}

// media Queries ===========>

@media (max-width: 800px) {
   .branding {
    width: 100%;
   }
    nav {
        width: 300px;
        height: calc(100vh - 60px);
        background-color: $nav-bg;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        position: absolute;
        top: 60px;
        right: 0;
        transition: 1.5s;
        z-index: 2;
        .nav-links {
            font-size: 1.5em;
            padding: 10px 0;
            margin: 10px 0;
            transition: 1.5s;
        }
        &[aria-expanded="false"] {
            width: 0;
            transform: translateX(300px);
            transition: 1.5s;
            .nav-links {
                transform: translateX(50px);
                opacity: 0;
                &:nth-of-type(1) {
                    transition-delay: 1s;
                }
                &:nth-of-type(2) {
                    transition-delay: 1.25s;
                }
                &:nth-of-type(3) {
                    transition-delay: 1.5s;
                }
                &:nth-of-type(4) {
                    transition-delay: 1.75s;
                }
                &:nth-of-type(5) {
                    transition-delay: 2s;
                }
            }
        }
        &[aria-expanded="true"] {
            transform: translateX(0);
            .nav-links {
                transform: translateX(0);
                opacity: 1;
                &:nth-of-type(1) {
                    transition-delay: 1s;
                }
                &:nth-of-type(2) {
                    transition-delay: 1.25s;
                }
                &:nth-of-type(3) {
                    transition-delay: 1.5s;
                }
                &:nth-of-type(4) {
                    transition-delay: 1.75s;
                }
                &:nth-of-type(5) {
                    transition-delay: 2s;
                }
            }
        }
    }

    .mobile-btn {
        display: block;
        .line {
            transition: 
                y 300ms ease-in 300ms,
                rotate 300ms ease-in,
                opacity 0ms 300ms;
            transform-origin: center;
        }
        &[aria-expanded="true"] {
            .line {
                transition: 
                    y 300ms ease-in,
                    rotate 300ms ease-in 300ms,
                    opacity 0ms 300ms;
            }
            :is(.top, .bottom) {
                y: 45;

            }
            .top {
                rotate: 45deg;
            }
            .bottom {
                rotate: -45deg;
            }
            .middle {
                opacity: 0;
            }
        }
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .upcoming-events {
        max-width: 90%;
        background-color: #fff;
        color: $black;
    }

    #home-events {
        flex-direction: row;
        justify-content: center;
        align-items: ceenter;
    }

    .event-box {
        width: 200px;
        background-color: $secondary-color;
        margin-bottom: 20px;
        color: $white;
        border-radius: 10px;
        padding: 10px 5px;
        hr {
            display: none;
        }
    }

    .sub-hero .sub-hero-content {
        font-size: 1.5em;
    }

    .grid-reverse {
        grid-template-columns: 1fr;
    }
    .order-1 {
        order: 2;
    }
    .order-2 {
        order: 1;
    }

    .about-img {
        width: 100%;
    }

    .grid-normal {
        grid-template-columns: 1fr;
    }
    .beer-select {
        justify-content: center;
    }
    #beer-selection {
        font-size: 1.1em;
    }
    .beer-container .beer-card {
        width: 175px;
    }
}

@media (max-height: 500px) {
    nav {
        gap: 10px;
        .nav-links {
            font-size: 1.25em;
            padding: 5px 0;
            margin: 5px 0;
        }
    }
    .hero-content img {
        max-width: 35%;
    }
}

@media (max-height: 600px) {
    .hero-content {
        flex-direction: row;
        gap: 10px;   
    }
}

@media (max-width: 420px) {
    .branding h1 {
        font-size: 1em;
    }
    #beer-selection {
        width: 80%;
    }
    
}

// Completed